In [1]:
from moexalgo import Ticker
from tqdm.auto import tqdm

# выбираем акции Сбера
sber = Ticker('SBER')

# получим дневные свечи с 2020 года
sber.candles(date='2020-01-01', till_date='2023-11-01', period='D').head()

,open,close,high,low,value,volume,begin,end
0,255.99,255.00,258.19,253.70,9.165475e+09,35851840.0,2020-01-03,2020-01-03 23:59:59
1,254.75,253.90,254.84,251.40,5.646010e+09,22348300.0,2020-01-06,2020-01-06 23:59:59
2,253.57,259.15,259.15,253.03,1.048588e+10,40817240.0,2020-01-08,2020-01-08 23:59:59
3,259.40,257.99,261.76,257.01,9.936032e+09,38329020.0,2020-01-09,2020-01-09 23:59:59
4,257.86,258.19,259.25,256.88,4.864405e+09,18851390.0,2020-01-10,2020-01-10 23:59:59

In [2]:
import pandas as pd
import time
dates = ['2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24']

In [3]:
tradestats = pd.DataFrame()
for date in tqdm(dates):
    print(date)
    # запрос возвращает не более 1000 записей, чтобы получить все записи используем курсор
    for cursor in range(25):
        url = f'https://iss.moex.com/iss/datashop/algopack/eq/tradestats.csv?date={date}&start={cursor*1000}&iss.only=data'
        df = pd.read_csv(url, sep=';', skiprows=2)
        tradestats = pd.concat([tradestats, df])
        if df.shape[0] < 1000:
            break
        
        time.sleep(0.5)
    
tradestats.to_csv('tradestats.csv', index=None)

  0%|          | 0/5 [00:00<?, ?it/s]

2023-11-20
2023-11-21
2023-11-22
2023-11-23
2023-11-24

In [4]:
tradestats.head()

,tradedate,tradetime,secid,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,SYSTIME
0,2023-11-20,10:05:00,ABIO,100.000,101.000,99.92,100.400,0.0019,504,507458.8,...,37,38,276778.8,230680.0,275,229,0.1,100.650,100.730,2023-11-21 16:27:03
1,2023-11-20,10:05:00,ABRD,297.200,299.600,297.20,298.800,0.0017,208,620360.0,...,28,12,423514.0,196846.0,142,66,0.4,298.200,298.300,2023-11-21 16:27:03
2,2023-11-20,10:05:00,AFKS,16.558,16.599,16.55,16.572,0.0007,1136,1882645.3,...,77,79,734148.6,1148496.7,443,693,-0.2,16.572,16.573,2023-11-21 16:27:03
3,2023-11-20,10:05:00,AFLT,38.540,38.630,38.51,38.530,0.0007,11662,4497979.8,...,225,210,1713739.0,2784240.8,4444,7218,-0.2,38.560,38.570,2023-11-21 16:27:03
4,2023-11-20,10:05:00,AGRO,1468.600,1504.800,1458.20,1498.400,0.0007,93453,138904438.2,...,1254,1249,66302644.4,72601793.8,44647,48806,-0.0,1485.000,1487.600,2023-11-21 16:27:03

In [6]:
import matplotlib
from ydata_profiling import ProfileReport
report = ProfileReport(tradestats, title='My Data')
report.to_file("hello.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/home/sishrak/.local/lib/python3.10/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'cannot reindex on an axis with duplicate labels')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
# Заметили, что цена зависит от vwap, а она в свою очередь зависит от sum(price*vol)/sum(price), попробуем обучить модель на методе кластеризации и проверить с помощью kNN. Попробуем придумать также алгоритм на основе математики.